<!-- <app-league></app-league> -->

<div class="container align-items-center" >
    <div class="card shadow mb-4">
        <span class="h3 py-3 px-3">Overview page</span>
    </div>
</div>
<div class="container align-items-center" >
    <div class="row">
        <div class="col-6">
            <div class="card shadow mb-4" style="height: 650px">
                <div class="card-header py-3">
                    <span class="h4 text-success">Leagues</span>
                </div>
                <div class="p-3 table-responsive">
                    <table class="table">
                        <thead class="table-success">
                            <tr>
                                <th>Level</th>
                                <th>League</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><a href="#" class="link-success">1</a></td>
                                <td>Allsvenskan</td>
                            </tr>
                            <tr>
                                <td><a href="#" class="link-success">2</a></td>
                                <td>Ia</td>
                            </tr>
                            <tr>
                                <td><a href="#" class="link-success">3</a></td>
                                <td>Ib</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card shadow mb-4" style="height: 650px">
                <div class="card-header py-3">
                    <span class="h4 text-success">Cups</span>
                </div>
                <div class="container py-3 d-grid gap-2">
                    <button class="btn btn-success" type="button">Create a new cup</button>
                </div>
                <hr>
                <div class="container py-2">
                    <span class="h5 my-3"> Current cups</span>
                    <ol class="list-group list-group-numbered">
                        <li class="list-group-item d-flex justify-content-between align-items-start my-1">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold"><a href="#" class="link-dark">Cup Friends</a></div>
                            Details
                        </div>
                        <span class="badge bg-success rounded-pill">14 Teams</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start my-1">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold"><a href="#" class="link-dark">Cup Super Heroes</a></div>
                            Details
                        </div>
                        <span class="badge bg-success rounded-pill">14 Teams</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start my-1">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold"><a href="#" class="link-dark">UEFA Europa League</a></div>
                            Details
                        </div>
                        <span class="badge bg-success rounded-pill">14 Teams</span>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>  
</div>